@charset "UTF-8";

$cardWidth: 60vw;
$cardHeight: 200px;

.tombola {
  perspective: 3000px;
  perspective-origin: 50% 50%;
  background: $secondary;

  .item {
    width: $cardWidth;
    height: $cardHeight;
    font-size: 1.8em;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    font-weight:bold;
    text-align: center;
    text-transform:uppercase;
    padding: 60px;
    color: $secondary;
    background: $primary;
    border: 1px solid darken($primary,10%);
  }

  .pre.items {
    .item {
      & > div {
        opacity: 0;
      }
    }
  }

  .items {
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: $cardWidth;
    height: $cardHeight;
    margin: auto;
    transform-style: preserve-3d;
    transform-origin: center center -480px;
    transform: translate(-50%,-50%) rotateX(0deg) translateZ(-480px);
    transition: opacity .3s, .05s;
    border-spacing: 0;

    & > div {
      opacity: 1;
      transition: .3s;
    }

  }

  .animation_ending:not(.pre) {

    .item {
      transition: 3s;

      &:nth-last-child(2),
      &:nth-last-child(3),
      &:nth-last-child(8) {
        background-color: darken($primary,20%);
        border: 1px solid darken($primary,30%);
        color: rgba($secondary,.2);
      }

    }

  }

  .item {
    top:0px;
    font-size: 80px;
    position: absolute;
    transition: .3s;
    display: none;

    &:nth-last-child(8) {
      transform: translateZ(240px);
      display: block;
    }

    &:nth-last-child(7) {
      transform: rotateX(-45deg) translateZ(240px);
      display: block;
    }

    &:nth-last-child(6) {
      transform: rotateX(-90deg) translateZ(240px);
      display: block;
    }

    &:nth-last-child(5) {
      transform: rotateX(-135deg) translateZ(240px);
      display: block;
    }

    &:nth-last-child(4) {
      transform: rotateX(-180deg) translateZ(240px);
      display: block;
    }

    &:nth-last-child(3) {
      transform: rotateX(-225deg) translateZ(240px);
      display: block;
    }

    &:nth-last-child(2) {
      transform: rotateX( -270deg)  translateZ(240px);
      display: block;
    }

    &.selected {
      transform: rotateX(45deg) translateZ(240px);
      display: block;
    }

  }

}

.tombola_btn {
	$x: 100px;
	color: $secondary;
	background: $primary;
	padding: 1.5em;
	display: block;
	width: $x;
	height: $x;
	border-radius: $x/2;
	cursor: pointer;
	text-align: center;
	line-height: 2.5em;
	font-weight: 600;
	transition: .2s;
	margin: 1em auto;

	&:hover {
		background-color: darken($primary, 10%);
	}

	.spinning & {
		opacity: .1;
	}

}
