@charset "UTF-8";

$baseFontSize: 18px;

.baseType {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: $baseFontSize;
	line-height: 1.5em;
	color: $copy;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
}

body,
select,
input,
textarea,
button {
	@extend .baseType;
}
